body {
  margin: 0;
  height: 100%;
  background-color: #c9c7c7;
}

.container {
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
header {
  padding: 15px;
}
main {
  background-color: white;
  padding: 25px;
}

h1 {
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: large;
}

hr {
  width: 100%;
  color: #c9c7c7;
}

textarea {
  width: 95%;
  height: 100px;
  border: dashed #c9c7c7 2px;
  padding: 5px;
}

button {
  width: fit-content;
  background-color: #ba0d04;
  color: antiquewhite;
}
